// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #fafafa;
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.name {
  font-style: italic;
}