body {
  background-color: #fafafa;
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0
}

#hero {
  padding: 50px;
  height: 500px;
  text-align: center;
  background-image: url(Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
}

.name {
  font-style: italic;
  font-weight: 400;
}


#hero-text {
  width: 60%;
  text-align: center;
  align-items: center;
  align-content: space-around;
}

button {
  background-color: black;
  color: whitesmoke;
  padding-top: 10px;
  padding: 10px 15px;
}

button :hover {
  background-color: blanchedalmond;
  color: black;
}

header {
  display: flex;
  align-items: center;
  align-content: stretch;
  padding: 5px 10px;
}