nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 20px;

}

nav li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;

}

nav li :hover {
    background-color: black;
    color: white;
    padding: 10px 15px;

}