nav {
    width: 80%;
    align-content: center;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 20px;

}

nav li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;

}

nav li a:hover {
    background-color: black;
    color: white;
    padding: 5px 10px;

}

nav>ul>li:hover>ul {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0;
}

.dropdown:hover {
    background-color: white;
}

.dropdown li {
    padding: 5px 8px;
}